:root {
  --green: #43A047;
  --blue: #1976d2;
  --blue-dark: #004ba0;
  --blue-ligthen-5: #E3F2FD;
  --blue-darken-1: #1E88E5;
  --blue-darken-3: #1565C0;
  --indigo-ligthen-1: #5C6BC0;
  --black: #070707;
  --red: #C62828;
  --white: #ffffff;
}